.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.navbar li {
    display: inline-block;
}

.banner {
    background-color: #4D00FF;
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0px;
}

#small-gritty {
    height: 100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px black);
}

#gritter {
    color: #4D00FF;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}